[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flask = "==1.1.1"
flask-restplus = "==0.13.0"

[packages]
flask-sqlalchemy = "==2.4.0"
psycopg2-binary = "==2.8.3"

[requires]
python_version = "3.7"
